body{
    background-color:#FAFBFD ;
    margin: 0px;
}
.inline1{
    display: inline;
}

.navbar {
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    margin-top: 5vw;
   gap: 2vw;
   
}


.logo1 {
    width: 10vw;
    position: absolute;
   margin-left: 10vw;
   
}
.navbar a{
text-decoration: none;
color: #2C3930;
font-family: "gopher", sans-serif;
    font-weight: 100;
}
.iletişim1{
    background-color:#1D47FB ;
    padding: 10px;
    border-radius: 5px;
    color: white;
}


@media (max-width:700px){
    .navbar {
        flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 2vw;

    }
.logo1{
    width: 20vw;
    margin-top: 10vw;
}
.iletişim1{
    background-color:#1D47FB ;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
.navbar a{
    text-decoration: none;
    color: #2C3930;
    font-family: "gopher", sans-serif;
    font-weight: 100;
    font-size: 15px;
    }
   
}
.slider {
    position: relative;
   margin-top:4vw;
   
}

.sliderimage {
    width: 100%;
    display: block;
}

.slidertext {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -60%); 
    color: white;
    font-size: 2vw; 
    font-family: "gopher", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    width: 80%; 
}

.textsl{
    display: flex;
    justify-content: center;
    font-family: "gopher", sans-serif;
    font-weight: 200;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 17px;
    
}
@media (max-width:700px){
    .textsl{
        font-size: 13px; 
    }
    .slidertext {
        position: absolute;
        top: 70%;
        left: 32%;
        transform: translate(-50%, -60%); 
        color: white;
        font-size: 4vw; 
        font-family: "gopher", sans-serif;
        font-weight: 200;
        border-radius: 5px;
        width: 50%; 
    }
}





.flexcards{
    display: flex;
   
    justify-content: center;
    align-items: center;
}

.cards{
    padding: 5vw;
    width: 60vw;
    gap: 5vw;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
border-radius: 15px;
background-color: white;

}


.cards p{
    font-family: "gopher", sans-serif;
    font-weight: 100;
    line-height: 25px;
    margin: 0px;
    text-align: center;
}
.cards h2{
    font-family: "gopher", sans-serif;
    font-weight: 100;
    margin: 0px;
    text-align: center;
    color: #1D47FB;
    padding-top: 10px;
}
.cards img{
    width: 20%;
    background-color: #1D47FB;
    border-radius:12px ;
    padding: 15px;
    
}
.card1{
    
    display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
.card2{
    
    display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
.card3{
    
    display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
.card4{
    
    display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

@media (max-width:700px) {
    .cards{
        padding: 5vw;
        width: 60vw;
        gap: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 30px;
    background-color: white;
    }
    
}

.photogal{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.photogal img{
    width: 28vw;
    border: 2px solid #FAFBFD;
    border-radius: 10px;
}
.photo-flex{
    margin-top: 6vw;
    display: flex;
    justify-content: center;
    background-color: #262626;
}
@media (max-width:600px) {
   .photogal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
   }
   .photogal img{
    width: 80vw;
}
}
.footer1{
background-color: #262626;
}
h3{
    color: white;
    font-family: "gopher", sans-serif;
    font-weight: 100;
    text-align: center;
    font-weight: 100;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.blog{
display: flex;
background-color: rgb(255, 255, 255);
width: 80vw;
justify-content: center;
border-radius: 15px;
margin:100px auto;
gap: 20px;
padding: 2vw;

}
.blog-text{
    display: flex;
    flex-direction: column;
    font-family: "gopher", sans-serif;
    font-weight: 100;
    margin: auto;
    
}
.blog-img{
    width: 20vw;
    border-radius:15px 0px 0px 15px;
    object-fit: cover;
    
}
.devamını{
    display: flex;
    gap: 8px;
    align-items: center;
    
}
h4{
    font-family: "gopher", sans-serif;
    font-weight: 500;
    color: #1D47FB;
    margin-bottom: 0%;
    font-size: 24px;
   margin-top: 0px;

}
@media (max-width:700px) {
    .blog{
        flex-direction: column;
        align-items: center;
        padding: 7vw 0px ;
    }
    .blog-img{
        width: 70vw;
        border-radius:15px 15px 0px 0px;
        object-fit: cover;
        
    }
    .blog-text{
        padding: 0px 40px;
    }
}



.blogright{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    justify-content: center;
    border-radius: 15px;
    margin:100px auto;
    gap: 20px;
    padding: 2vw;
    
    }
    .blogright-text{
        display: flex;
        flex-direction: column;
        font-family: "gopher", sans-serif;
        font-weight: 100;
        margin: auto;
        
    }
    .blogright-img{
        width: 20vw;
        border-radius:0px 15px 15px 0px;
        object-fit: cover;
        
    }
    .devamını{
        display: flex;
        gap: 8px;
        align-items: center;
        
    }
    h4{
        font-family: "gopher", sans-serif;
        font-weight: 500;
        color: #1D47FB;
        margin-bottom: 0%;
        font-size: 24px;
       margin-top: 0px;
    
    }
    @media (max-width:700px) {
        .blogright{
            flex-direction: column;
            align-items: center;
            padding: 7vw 0px ;
        }
        .blogright-img{
            width: 70vw;
            border-radius:15px 15px 0px 0px;
            object-fit: cover;
            
        }
        .blogright-text{
            padding: 0px 40px;
        }
    }
