body{
    background-color:#FAFBFD ;
    margin: 0px;
}
.inline1{
    display: inline;
}

.navbar {
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    margin-top: 5vw;
   gap: 2vw;
   
}


.logo1 {
    width: 10vw;
    position: absolute;
   margin-left: 10vw;
   
}
.navbar a{
text-decoration: none;
color: #2C3930;
font-family: "gopher", sans-serif;
    font-weight: 100;
}
.iletişim1{
    background-color:#1D47FB ;
    padding: 10px;
    border-radius: 5px;
    color: white;
}


@media (max-width:700px){
    .navbar {
        flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 2vw;

    }
.logo1{
    width: 20vw;
    margin-top: 10vw;
}
.iletişim1{
    background-color:#1D47FB ;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
.navbar a{
    text-decoration: none;
    color: #2C3930;
    font-family: "gopher", sans-serif;
    font-weight: 100;
    font-size: 15px;
    }
   
}
.slider {
    position: relative;
   margin-top:4vw;
   
}

.sliderimage {
    width: 100%;
    display: block;
}

.slidertext {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -60%); 
    color: white;
    font-size: 2vw; 
   
    border-radius: 5px;
    width: 80%; 
}

.textsl{
    display: flex;
    justify-content: center;
    font-family: "gopher", sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 17px;
    
}
@media (max-width:700px){
    .textsl{
        font-size: 13px; 
    }

}





.flexcards{
    display: flex;
   
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 10vh;
    text-align: center;
    font-family: "gopher", sans-serif;
    font-weight: 200;
    font-size: 70px;
    color: #1D47FB;
}
h2{
    font-family: "gopher", sans-serif;
    font-weight: 100;
    width: 100%;
    color: white;
    margin-left: 3vw;
}
p{
    font-family: "gopher", sans-serif;
    font-weight: 100;
    color: white;
    width: 200%;
    line-height: 2.4;
    margin-right: 5vw;
    
      
   
}
.aboutus1{
    display: flex;
    background-color: #1D47FB;
    padding-top: 5vw;
    padding-bottom: 5vw;
  align-items: center;
  justify-content: center;
  gap: 3vw;
 
  
}
@media (max-width:700px){
    .aboutus1{
        display: flex;
       flex-direction: column;
       justify-content: center;
    }    
}
@media (max-width:700px){
    .aboutus1 p{
        margin-left: 5vw;
        line-height: 2;
        text-align:left;
        width: auto;
    }
      .aboutus1 h2{
        text-align: center;
        width: auto;

      }
      h1{
        margin-top: 6vh;
      }
}

.aboutimg{
    width: 100vw;
    object-fit: cover;
    height: 30vw;
   
}

.footer1{
background-color:#262626;

}
h3{
    color: white;
    font-family: "gopher", sans-serif;
    font-weight: 100;
    text-align: center;
    font-weight: 100;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-top: 0;
}
@media (max-width:700px){
    .aboutimg{
        width: 100vw;
        object-fit: cover;
        height: 50vw;
    }
}

.stat1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.stat1 img{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 100px;
    
}
h4{
    font-family: "gopher", sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    padding: 6px;
    background-color: #ffffff;
   border-radius: 3px;
    
}
.stats {
background-image: url(../assets/photo1.png);
background-size: cover;
background-position: center;
padding: 10vw;
display: flex;
justify-content: center;
gap: 70px;

}

@media (max-width:700px){
    .stats {
        background-image: url(../assets/photo1.png);
        background-size: cover;
        background-position: center;
        padding: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70px;
        
        }
}
